{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}


{% block body %}

<div class="login-page">
    <div class="form">

        <form class="login-form" action="" method="POST">
            {{form.hidden_tag()}}
            {{form.username(class="input-field")}}
            {{form.password(class="input-field" )}}

    <label for="psw">Password</label>
    <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>

            {{form.submit(class="button-submit")}}
            <p class="message">Already registered?<a href="{{url_for('login')}}">Sign In</a></p>
        </form>
    </div>

<div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

</div>

<script src="{{url_for('static', filename='scripts/user_password.js')}}"></script>

{% endblock %}